.start{
  color: orangered;
  font-weight: normal;
  font-size: 3rem;
}
.page{
  text-decoration: none;
  font-size: 2rem;

}
.btn{
  background-color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}